<!DOCTYPE html>
<html>
<head>
  <title>Gamez</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="controlbar">
	<li><%= link_to "log_in", "#" %></li>
	<li><%= link_to "register", "#" %></li>
</ul>

<h1 class="banner"><%= link_to "Gamez", games_path %></h1>

<%= yield %>

</body>
</html>
