<!DOCTYPE html>
<html>
<head>
  <title>Gamez</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="controlbar">
	<% if current_user %>
		<li><%= link_to "logout", logout_path %></li>
		<li>
			Logged in as <%= link_to current_user.username, edit_user_path(:current) %>,
			<% if current_user.role %>
				admin
			<% else %>
				member
			<% end %>
		</li>
	<% else %>
		<li><%= link_to "log_in", login_path %></li>
		<li><%= link_to "register", new_user_path %></li>
	<% end %>
</ul>
<%= flash[:notice] %>

<h1 class="banner"><%= link_to "Gamez", games_path %></h1>

<%= yield %>

</body>
</html>
