= will_paginate @games
%table.articles
	%tr
		%th Title
		%th Rating
		%th Date Added
		%th
		-if permitted_to? :edit, :games
			%th
		-if permitted_to? :destroy, :games
			%th
	-@games.each do |game|
		%tr{:class => cycle('list_line_odd', 'list_line_even')}
			%td= game.title
			%td= game.rating
			%td= game.created_at " by "
			%td= link_to "View", game
			-if permitted_to? :edit, game
				%td= link_to "Edit", edit_game_path(game)
			-if permitted_to? :destroy, game
				%td= link_to "Delete", game, confirm: 'Are you sure?', method: :delete
			
= will_paginate @games
= pluralize(@games.count, 'game')
%br/
