!!!
%html
  %head
    %title Articl.es -- All the World's Articles (with a name .com hipsters love)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1.banner Articl.es
    %ul.menubar
      %li= link_to "articles", articles_path
      %li= link_to "authors", authors_path
    = yield
