<h3 class="banner">...what's "Articl" in Spanish anyway?</h3>
<p id="notice"><%= notice %></p>
<div class="control">
	<%= link_to image_tag("arrow_left.png"), articles_path %>
	<%= link_to 'list all articles', articles_path %>
	
	<%= link_to image_tag("page_white_edit.png"), edit_article_path(@article) %>
	<%= link_to 'edit', edit_article_path(@article) %>
	
	<%= link_to image_tag("bin.png"), @article, confirm: 'Are you sure?', method: :delete %>
	<%= link_to 'delete', @article, confirm: 'Are you sure?', method: :delete %>
	
	<%= link_to image_tag("email.png") %>
	<%= link_to 'email' %>
</div>
<h3><%= @article.title %></h3>
<p>by <%= @article.author%>. <%= @article.edit_count%> edits since <%= @article.date_created%>.</p>

<p><%= @article.body %></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
